body {background-color: bisque;
    font-family: Sego, Verdana, sans-serif;}

header {background-color:yellow;
}

h1{color:deepskyblue;}
h2{color:darkcyan}
nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}

nav.horizontalNavigation li {
    display: inline-block
    float: left;
}

section#leftcolumn {
    clear: left;
    float: left;
    width: 50%;
}
section#rightColumn {
    float: right;
    width: 50%;
}
section {background-color:gainsboro;
        width: 75%;
        font-size: 1.0em;}

footer {background-color: chartreuse;}
